.container-banner {
  background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b4371,
    #f3904f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b4371,
    #f3904f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: -100px;
  min-height: 90vh;
  color: white;
}
.banner-title {
  font-size: 4em;
}
.banner-subtitle {
  font-size: 1.6em;
}
.animation-container {
  width: 50%;
}
@media (max-width: 600px) {
  .banner-title {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }
  .banner-subtitle {
    font-size: 1.5em;
    text-align: center;
  }
  .container-banner {
    flex-direction: column-reverse;
    margin-top: -50px;
  }
  .animation-container {
    width: 100%;
  }
}