<div class="container pt-5 d-flex align-items-center">
    <div class="about-me-perfil">
      <div class="about-me-img-container"></div>
      <p class="about-me-perfil-text mt-2">María Delfina Cañas</p>
    </div>
    <div class="about-me-description">
      <h4>Desarrolladora Web Full Stack Junior</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ut
        placeat illo repudiandae minima beatae culpa fugiat voluptas inventore hic
        ipsum molestiae eum, fugit quia, officia veniam. Aspernatur, cupiditate
        totam.
      </p>
    </div>
  </div>
  