<div class="d-flex align-items-center justify-content-betwen p-3">
    <div class="education-logo me-3">
      <img src="../../assets/arg-programa.png" alt="" />
    </div>
    <div >
      <h4>Nombre Academia</h4>
      <p class="education-body-description"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quo
        dignissimos adipisci voluptatibus ex qui placeat voluptatem suscipit
        ducimus non, fuga aperiam consequuntur. Totam quibusdam blanditiis non,
        provident libero atque.
      </p>
    </div>
  </div>
  