<nav class="navbar sticky-top">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img
        src="../../assets/arg-programa.png"
        alt="Logo Argentina programa"
        width="100"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <div class="navbar-items-right">
      <a
        href="https://github.com/delfigica"
        target="_blank"
        class="navbar-social-icons"
        ><i class="fab fa-github-square"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/delfina-ca%C3%B1as-459b6320b/"
        target="_blank"
        class="navbar-social-icons mx-2"
      >
        <img
          class="img-social-icon"
          src="../../assets/linkedin-brands.svg"
          alt=""
        />
      </a>
      <a
        routerLink="/iniciar-sesion"
        class="btn btn-outline-light navbar-btn-login"
        >INGRESAR</a
      >
    </div>
    <button
      class="navbar-toggler btn"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="d-flex ms-5 mt-2">
        <a
          href="https://github.com/delfigica"
          target="_blank"
          class="navbar-social-icons"
          ><i class="fab fa-github-square"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/delfina-ca%C3%B1as-459b6320b/"
          target="_blank"
          class="navbar-social-icons mx-4"
        >
          <img
            class="img-social-icon"
            src="../../assets/linkedin-brands.svg"
            alt=""
          />
        </a>
        <a
          routerLink="/iniciar-sesion"
          class="btn btn-outline-light navbar-btn-login"
          >INGRESAR</a
        >
      </div>
    </div>
  </div>
</nav>
