<div class="container-fluid d-flex">
    <div class="card m-3">
      <div class="card-header">
        <h5 class="card-title text-center">Titulo del proyecto</h5>
      </div>
      <div class="card-body">
        <p class="card-text text-justify p-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis iste,
          deleniti delectus repellendus non saepe nihil repudiandae quasi
          reprehenderit dolorum in, voluptatem sequi vero error enim est
          consectetur aliquam. Exercitationem.
        </p>
        <div class="d-flex justify-content-between m-2">
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
        </div>
        <div class="card-action text-end m-2 mt-4">
          <button class="btn btn-dark">VISITAR SITIO WEB</button>
        </div>
      </div>
    </div>
    <div class="card m-3">
      <div class="card-header">
        <h5 class="card-title text-center">Titulo del proyecto</h5>
      </div>
      <div class="card-body">
        <p class="card-text text-justify p-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis iste,
          deleniti delectus repellendus non saepe nihil repudiandae quasi
          reprehenderit dolorum in, voluptatem sequi vero error enim est
          consectetur aliquam. Exercitationem.
        </p>
        <div class="d-flex justify-content-between m-2">
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
          <div class="card-skill-logo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML"
            />
          </div>
        </div>
        <div class="card-action text-end m-2 mt-4">
          <button class="btn btn-dark">VISITAR SITIO WEB</button>
        </div>
      </div>
    </div>
  </div>
  