<div class="card m-3">
  <div class="card-header">
    <h5 class="card-title text-center">{{ proyect.title }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text text-justify p-2">
      {{ proyect.description }}
    </p>
    <div class="d-flex justify-content-evenly m-2">
      <div class="card-skill-logo" *ngFor="let tecnology of tecnologies">
        <img src="{{ tecnology.url }}" alt="{{ tecnology.name }}" />
      </div>
    </div>
    <div class="card-action text-center m-2 mt-4">
      <a
        href="{{ proyect.url }}"
        class="btn btn-dark"
        target="_blank"
        *ngIf="!modeEdit"
        >Visitar</a
      >
      <button class="btn btn-dark me-3" *ngIf="modeEdit" [routerLink]="['proyect', proyect.id]" >
        Editar
      </button>
      <button class="btn btn-outlined-dark ms-3" *ngIf="modeEdit" (click)="deleteProyect(proyect.id)">
        Eliminar
      </button>
    </div>
  </div>
</div>
