<div class="card m-3">
  <div class="card-header">
    <h5 *ngIf="!loading" class="card-title text-center">{{ proyect.title }}</h5>
    <p class="placeholder-glow" *ngIf="loading">
      <span class="placeholder col-12"></span>
    </p>
  </div>
  <div class="card-body">
    <p *ngIf="!loading" class="card-text text-justify p-2">
      {{ proyect.description }}
    </p>

    <div
      class="placeholder-glow d-flex flex-column placeholder-container"
      *ngIf="loading"
    >
      <span class="placeholder col-12 placeholder-sm"></span>
      <span class="placeholder col-12 placeholder-sm my-3"></span>
      <span class="placeholder col-12 placeholder-sm"></span>
    </div>
    <div class="d-flex justify-content-evenly m-2">
      <div class="card-skill-logo" *ngFor="let tecnology of tecnologies">
        <img src="{{ tecnology.url }}" alt="{{ tecnology.name }}" />
      </div>
    </div>
    <div class="card-action text-center m-2 mt-4">
      <a
        href="{{ proyect.url }}"
        class="btn btn-dark"
        target="_blank"
        *ngIf="!modeEdit && !loading"
        >Visitar</a
      >
      <a
        href="#"
        tabindex="-1"
        class="btn btn-dark disabled placeholder col-4"
        *ngIf="loading"
      ></a>
      <button
        class="btn btn-dark me-3"
        *ngIf="modeEdit"
        [routerLink]="['proyect', proyect.id]"
      >
        Editar
      </button>
      <button
        class="btn btn-outlined-dark ms-3"
        *ngIf="modeEdit"
        (click)="deleteProyect(proyect.id)"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
