<div class="container p-5">
  <h4 class="text-center mb-2">Skills & Lenguajes</h4>
  <form class="card p-5" (ngSubmit)="skillId ? editSkill() : addSkill()">
    <div class="form-outline mb-4">
      <label class="form-label">Nombre</label>
      <input
        type="text"
        name="nameInput"
        class="form-control"
        [(ngModel)]="nameInput"
      />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label">Porcentaje</label>
      <input
        class="form-control"
        name="percentageInput"
        type="number"
        [(ngModel)]="percentageInput"
      />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label">Imagen url</label>
      <input
        class="form-control"
        name="urlInput"
        type="text"
        [(ngModel)]="urlInput"
      />
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-dark m-auto">{{ btnText }}</button>
      <button routerLink="/admin/edit" class="btn btn-outline-secondary m-auto">
        Cancelar
      </button>
    </div>
  </form>
</div>
