<div *ngIf="!modeEdit" class="container mt-2">
  <h4 class="ms-3">Experiencia Laboral</h4>
  <div *ngFor="let experience of experiences">
    <app-experience-component [experience]="experience"></app-experience-component>
  </div>
</div>
<div *ngIf="modeEdit" class="container mt-2">
  <h4 class="ms-3">Experiencia Laboral</h4>
  <button class="ms-3 btn btn-dark" routerLink="/admin/edit/add/experience" >Agregar</button>
  <div *ngFor="let experience of experiences">
    <app-experience-component [experience]="experience" [modeEdit]="modeEdit" ></app-experience-component>
  </div>
</div>
