<div class="container p-5">
  <h4 class="text-center mb-2">Experiencia laboral</h4>
  <form
    class="card p-5"
  >
    <div class="form-outline mb-4">
      <label class="form-label">Nombre de la institución</label>
      <input
        type="text"
        name="institutionInput"
        class="form-control"
      />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label">Descripción</label>
      <textarea
        class="form-control"
        name="descriptionInput"
        rows="3"
      ></textarea>
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-dark m-auto"></button>
      <button routerLink="/admin/edit" class="btn btn-outline-secondary m-auto">
        Cancelar
      </button>
    </div>
  </form>
</div>
